* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(139, 168, 255);
    margin: auto;
}


.container{
    width: 25rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    background-color: rgb(249, 133, 226);
    gap: 1rem;
    
}

.display {
    margin-top: 1rem;
    width: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 2.5rem;
    flex: 1;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-weight:200;
    overflow: hidden;


    .display-top  {
        padding-left: 0.25rem;
        background-color: gray;
        width: 100%;
        height: 40%;
        text-align: left;
        -webkit-user-select: text;
        -ms-user-select: text;
        user-select:text; 
    }
    .display-bottom {
        padding-top: 1.75rem;
        padding-right: 0.25rem;
        background-color: bisque;
        width: 100%;
        height: 60%;
        text-align: right;
        -webkit-user-select: text;
        -ms-user-select: text;
        user-select:text;   
    }
}

.input {
    width: 90%;
    flex: 3;
    background-color: rgb(227, 62, 62);
    display: flex;
    /* align-items: center;
    justify-content: flex-end;
    padding: 0 1rem; */
    font-size: 3rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;

}

.numbers {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: azure;
    flex: 3;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;

    .misc {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgb(71, 255, 255);
        flex: 3;  
    }
    .digits {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgb(236, 2, 158);
        flex: 4; 
    }
}

.digit-item,.misc-item, .operator-item {
    padding: 0.5rem 0;
}

.operators {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(108, 146, 146);
    flex: 1;
}

